<div id="headerUserWrapper">
  <img ng-if="isLoggedIn" class="headerUserPicture" alt="user.picture" src="{{ user.photoUrl }}"/>
  <h3 ng-if="user != null"> {{ user.name }}</h3>
</div>
<div id="headerLogoWrapper">
  <img id="headerLogoPicture" alt="Logo" src="../../../assets/images/logo 400x400-borderedRound.png"/>
</div>
<div id="headerNavWrapper">
  <div id="headerNav">
    <a href="#">Subscripties</a>
    <a href="#">Opties</a>
    <a href="#">Help</a>
    <a href="#" (click)="LogOut()">Afmelden</a>
  </div>
  <div id="headerNavC">
    <img id="burgerIcon" alt="burger" src="../../../assets/images/burger.png"/>
    <div id="headerNavCLinks">
      <a href="#">Subscripties</a>
      <a href="#">Opties</a>
      <a href="#">Help</a>
      <a href="#" ng-click="LogOut()">Afmelden</a>
    </div>
  </div>
</div>