/* Font-Family */

/* Colors(Variables) */
$primary: #23A7CB;
$secundary: #46CDCF;
$listcolors: #48466D;
$textcolor: #000;

/* Colors(Tags) */
h3{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}